In [ ]:
cont. list and data type:

In [ ]:
organising the list data type

In [5]:
cars = ['benz', 'audi', 'bmw', 'kia','hyundai']

In [6]:
print (cars)

['benz', 'audi', 'bmw', 'kia', 'hyundai']

In [7]:
# requirement: i want to get the output in the alphabetical order

In [ ]:
1. temp approach  -> sorted -> we can get the original order of the list assigned initially
2. permanent approach -> sort -> changes are implied permanently

In [8]:
print (sorted(cars))

['audi', 'benz', 'bmw', 'hyundai', 'kia']

In [10]:
cars.sort()
print (cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia']

In [11]:
#print the entire list in reverse order

In [14]:
cars.reverse()
print (cars)

['kia', 'hyundai', 'bmw', 'benz', 'audi']

In [15]:
# to know the length of the list
len(cars)

5

In [18]:
#introduction to slicing of list
students = ['rahim','pavan','radha','pantulu','rajendra','oncemore']
#general syntax of slicing


#startvalue:stopvalue:stepcount 
#stopvalue/lastvalue is always exclusive

In [21]:
print(students[0:1])

['rahim']

In [22]:
print (students[0:5:2])

['rahim', 'radha', 'rajendra']

In [30]:
# want to get radha from the list
print (students[2:3])

['radha']